.archivo-masonry {
  display: flex;
  //margin-left: -30px; /* gutter size offset */
  width: auto;
  .archivo-masonry__column {
    padding-left: 15px; /* gutter size */
    padding-right: 15px;
    background-clip: padding-box;
    > span {
      /* change div to reference your elements you put in <Masonry> */
      margin-bottom: 30px;
    }
    img {
      cursor: pointer;
    }
  }
}
