@mixin transition-ease($duration) {
  -webkit-transition: all $duration ease;
  -moz-transition: all $duration ease;
  -ms-transition: all $duration ease;
  -o-transition: all $duration ease;
  transition: all $duration ease;
}

@mixin media-max-width($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}
