// SideSlider
.sideSlider {
  .slick-slide {
    &:not(.slick-current) {
      img {
        opacity: 0.5;
      }
    }
  }
  .slick-arrow.slick-prev {
    display: none !important;
  }
}

// Home Slider
.homeSlider {
  margin: 0 25px;

  @include media-min-width($large-up) {
    padding: 0 8px;
  }
  @include media-max-width($medium-down) {
    margin: 0 18px;
  }
  & > button {
    @include media-max-width($large-down) {
      display: none;
    }
  }
}
.homeSlider_container {
  /*@include media-min-max-width($large-up, 800px) {
    margin-top: 50px;
  }*/
  @include media-min-max-width($medium-up, $large-down) {
    max-width: 80% !important;
  }
}
