.agradecimientos_h4 {
  @include media-max-width($large-down) {
    font-size: 1.4rem !important;
  }
  @include media-max-width($medium-down) {
    font-size: 1.2rem !important;
  }
}
.agradecimientos_name {
  padding-right: 30px;
  @include media-max-width($medium-down) {
    padding-right: 16px;
  }
  @include media-max-width($medium-down) {
    padding-right: 12px;
  }
}
